<article class="root">
  <h3 style="text-align: center; color: blue">
    EMPLOYEE DATA BASE WITH GRID DISPLAY
  </h3>
  <form
    class="form-horizontal"
    [formGroup]="form"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)"
  >
    <igx-input-group>
      <input igxInput name="fullName" type="text" formControlName="fullName" />
      <label igxLabel for="fullName">Full Name</label> </igx-input-group
    ><br />
    <igx-input-group>
      <igx-prefix>
        <igx-icon>phone</igx-icon>
      </igx-prefix>
      <label igxLabel>Phone</label>
      <input
        igxInput
        type="text"
        name="phoneNumber"
        formControlName="phoneNumber"
        [igxMask]="'+(00) 0000000000'"
      />
    </igx-input-group>
    <br />
    <igx-select name="role" formControlName="role" #select>
      <label igxLabel>Select Role</label>
      <igx-select-item *ngFor="let item of items" [value]="item">
        {{ item }}
      </igx-select-item>
    </igx-select>
    <div class="wrapper">
      <!-- <div class="button-sample">
            <button igxButton="flat" igxRipple>Flat</button>
        </div>
        <div class="button-sample">
            <button igxButton="raised" igxRipple>Raised</button>
        </div> -->
      <div class="button-sample">
        <button igxButton="outlined" (click)="toast.open()" igxRipple>
          CREATE
        </button>
        <igx-toast #toast>Data Created Successfully</igx-toast>
      </div>
    </div>
  </form>
</article>
<div>
  <div
    class="grid__wrapper"
    style="text-align: center; padding-left: 150px; padding-top: 100px"
  >
    <p>Please click the grid once you created</p>
    <igx-grid
      igxPreventDocumentScroll
      #grid
      [data]="dataBase"
      width="600px"
      height="400px"
      style="margin: auto"
      [allowFiltering]="true"
    >
      <igx-column field="fullName" dataType="string"></igx-column>
      <igx-column field="phoneNumber" dataType="string"></igx-column>
      <igx-column field="role" dataType="string"></igx-column>
      <!-- <igx-action-strip #actionstrip>
        <igx-grid-pinning-actions></igx-grid-pinning-actions>
        <ng-container *ngIf="!inEditMode(actionstrip.context)">
          <button
            title="Edit"
            igxButton="icon"
            igxRipple
            (click)="startEdit(actionstrip.context)"
          >
            <igx-icon>edit</igx-icon>
          </button>
          <button
            title="Undo All"
            igxButton="icon"
            igxRipple
            *ngIf="isDirty(actionstrip.context)"
            (click)="undo(actionstrip.context)"
          >
            <igx-icon>undo</igx-icon>
          </button>
          <button
            title="Redo All"
            igxButton="icon"
            igxRipple
            *ngIf="
              !isDirty(actionstrip.context) &&
              hasDiscardedTransactions(actionstrip.context)
            "
            (click)="redo(actionstrip.context)"
          >
            <igx-icon>redo</igx-icon>
          </button>
          <button
            title="Save"
            igxButton="icon"
            igxRipple
            *ngIf="isDirty(actionstrip.context)"
            (click)="commit(actionstrip.context)"
          >
            <igx-icon>save</igx-icon>
          </button>
          <button
            title="Delete"
            igxButton="icon"
            igxRipple
            *ngIf="!isDeleted(actionstrip.context)"
            (click)="actionstrip.context.delete()"
          >
            <igx-icon>delete</igx-icon>
          </button>
        </ng-container>
      </igx-action-strip> -->
      <igx-action-strip #actionstrip>
        <igx-grid-pinning-actions></igx-grid-pinning-actions>
        <button
          title="Edit"
          igxButton="icon"
          igxRipple
          (click)="startEdit(actionstrip.context)"
        >
          <igx-icon>edit</igx-icon>
        </button>
        <button
          title="Delete"
          igxButton="icon"
          igxRipple
          *ngIf="!isDeleted(actionstrip.context)"
          (click)="actionstrip.context.delete()"
        >
          <igx-icon>delete</igx-icon>
        </button>
      </igx-action-strip>
    </igx-grid>
  </div>
</div>
